.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #191919;;
    font-family: 'Roboto', sans-serif;
}

.loginContainer {
    position: relative;
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(251, 251, 251);
    background: #686D76;
    transition: 0.6s;
    min-height: 90vh;
}




.forms-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 5%;
}

.login-signup {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    transition: 1.5s;
    flex-direction: row-reverse;
}

.loginForm {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2.2rem;
    color: black;
    margin-bottom: 20px;
}

.input-field {
    width: 80%;
    position: relative;
    margin-bottom: 30px;
}

.LoginInput {
    width: 100%;
    padding: 9px 5px 10px 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
}

.btn {
    width: 80%;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background: #333;
    color: #fff;
    font-size: 1.2rem;
    transition: background 0.3s ease;
    margin-left: 10%;
}

.btn:hover {
    background: #555;
}

.switch-form-text {
    margin-top: 20px;
    font-size: 1rem;
    color: black;
}

.switch-form-link {
    cursor: pointer;
    color: black;
}

.panels-container {
    position: relative;
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    justify-content: flex-start;
    overflow: hidden;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* position: relative;
    width: 50%;
    height: 100%; */
    transition: transform 0.6s ease-in-out;
}

.panel.left-panel {
    pointer-events: none;
    transform: translateX(0%);
}

.panel.right-panel {
    right: 0;
    transform: translateX(10%);
    pointer-events: none;
}
.shift-right {
    transform: translateX(100%);
}

.shift-left {
    transform: translateX(-100%);
}
.panel .content {
    padding: 50px;
}

.panel .loginh3 {
    font-size: 2.5rem;
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
}

.panel p {
    font-size: 1rem;
    color: black;
    margin-bottom: 20px;
}

.image {
    max-width: 100%;
    height: auto;
}
.LoginInput::placeholder {
    color: #999; /* Placeholder color */
}
.LoginInput:focus {
    border-color: black; /* Border color on focus */
}
.icon {
    position: absolute;
    top: 50%;
    left: 10px; /*Adjust left position to align with input field*/
    transform: translateY(-50%);
    color: black; /* Icon color */
}